<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto 1 Flask</title>
</head>
<body>
    <div>
        <h3>Projeto Flask 1</h3>
        <h5>@campBrasil</h5>
    </div>

    <div>
        <p>Bem vindo {{context.usuario}} a mais uma aula de flask!</p>
        <p><b>Idade:</b> {{context.idade}}</p>

        <a href="{{url_for('newpage')}}">Link para nova página!</a>
    </div>
    
</body>
</html>